@page "/"

<h1>To Do List Application</h1>

<h3>The Application Uses:</h3>
<ul>
  <li>Azure Function Version 4</li>
  <li>Entity Framework Core</li>
  <li>CosmosDb</li>
  <li>Azure AI Text Analytics</li>
  <li>Blazor UI</li>
</ul>  
